name: Docker Image CI

on:
  workflow_dispatch:
  push:
    branches: ["*", "!update-*-to-*", "!IBC-update*"]
    tags-ignore:
      - "v*"
  pull_request:
    branches: ["main", "!update-*-to-*", "!IBC-update*"]

jobs:
  build:
    name: Build image
    strategy:
      matrix:
        channel: ["stable", "latest"]
    uses: zh012/ib-gateway-docker/.github/workflows/build.yml@main
    with:
      channel: ${{ matrix.channel }}
